<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/hr_test" />
		<property name="username" value="player01" />
		<property name="password" value="MySqlPlayer" />
	</bean>
	
	<bean id="JDBCGroupDAOImpl" class="iShop.dao.JDBCGroupDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="JDBCProductDAOImpl" class="iShop.dao.JDBCProductDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
 
</beans>